<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Workout Now</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/workouts/create">Create Workout</a></li>
                <li><a href="/workouts/">Display Workouts</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>