<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head-style-meta"></div>
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <h2>Create New Location</h2>

    <form method="post">
        <label>Exercise Name: <input type="text" name="name"></label>
        <label>Equipment: <input type="text" name="equipment"></label>
        <input type="submit" value="Create Exercise">
    </form>
</body>
</html>