<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head-style-meta"></div>
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <h2>Lets add an Exercise!</h2>


    <form method="post">

        <label for="exercise">Select Exercise: </label>
        <select name="exerciseId" id="exercise">
            <option th:each="exercise:${exercises}" th:value="${exercise.id}" th:text="${exercise.name} + ' - ' +${exercise.equipment}"></option>
        </select>

        <input type="submit" value="Add Exercise">
    </form>
    <a th:href="@{/lifting-exercise/add}">Create New Exercise</a>

    <p th:text="${user}"></p>
</body>
</html>