<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <h2>Lets create a workout!</h2>


    <form method="post">

        <label for="location">Select Location: </label>
        <select name="locationId" id="location">
            <option th:each="location:${locations}" th:value="${location.id}" th:text="${location.facilityName + '-' + location.city + ', ' + location.state} "></option>
        </select>
        <a th:href="@{/location/add}">Add Location</a>


        <input type="submit" value="submit me">
    </form>

    <p th:text="${user}"></p>
</body>
</html>