<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="fragments :: header"></header>

<p th:text="${'Workout: ' + workout.id}"></p>

<p th:text="${'User Name: ' + workout.userProfile.firstName + ' ' + workout.userProfile.lastName}"></p>

<p th:text="${'Date: ' + workout.dateOfWorkout}"></p>

<p th:text="${'Facility Name: ' + workout.location.facilityName}"></p>

<p th:text="${'Location(City, State): ' + workout.location.city + ', ' + workout.location.state}"></p>

<table>
    <tr>
        <th>Lifting Exercises</th>
    </tr>
    <tr th:each="lifting:${liftings}">
        <td><a th:href="'/workouts/display/' + ${workout.id}+ '/' + ${lifting.id} + '/addSets'" th:text="${lifting.liftingExercise.name}"></a></td>
        <td th:text="${lifting.liftingExercise.equipment}"></td>
    </tr>
</table>

<a th:href="'/workouts/display/' + ${workout.id}+ '/addLiftingGroupExercise'">Add Lifting Exercise</a>

<table>
    <tr>
        <th>Cardio Exercises</th>
    </tr>
    <tr th:each="cardio:${cardios}">
        <td><a th:href="'/workouts/display/' + ${workout.id}+ '/' + ${cardio.id} + '/addCardioSet'" th:text="${cardio.CardioExercise.name}"></a></td>
        <td th:text="${cardio.CardioExercise.equipment}"></td>
        <td th:text="${cardio.DistanceAndTime.timeMin + ':' + cardio.DistanceAndTime.timeSeconds}"></td>
        <td th:text="${cardio.DistanceAndTime.distanceMiles}"></td>
        <td th:text="${cardio.DistanceAndTime.distanceKM}"></td>
        <td th:text="${cardio.DistanceAndTime.distanceMeters}"></td>
    </tr>
</table>
<a th:href="'/workouts/display/' + ${workout.id}+ '/addCardioGroupExercise'">Add Lifting Exercise</a>

</body>
</html>