<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
<!--
    <p th:if="${locations.size() > 0}">
    <p th:each="location:${locations}"><p th:text="${location.facilityName}"></p></p></p>
-->

    <form method="post">
        <label>Facility Name: <input type="text" name="facilityName"></label>
        <label>City: <input type="text" name="city"></label>
        <label>State: <input type="text" name="state"></label>
        <input type="submit" value="Create Location">
    </form>

    <div th:if="${locations.size() > 0}">
        <p>Or select from options below to add to your locations!</p>

        <form action="/location/addMultiples" method="post">
            <table >
                <tr th:each="location : ${locations}">
                    <td><input type="checkbox" name="addLocations" th:value="${location.id}"></td>
                    <td th:text="${location.facilityName}"></td>
                    <td th:text="${location.city}"></td>
                    <td th:text="${location.state}"></td>
                </tr>

            </table>

            <input type="submit" value="Add Location">
        </form>

    </div>    
</body>
</html>